@font-face {
  font-family: Display;
  src: url(./Fonts/LiquidCrystal-Normal.otf);
}

.container-fluid, .container {
  background-color: lightgray;
  height: 100%;
  width:100%;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}


header {
  background-color: darkgrey;
  min-height: 1vmin;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 1.5vmin);
  color: white;
}

main{
  display: flex;
  flex:1;
}
.App-link {
  color: #61dafb;
}

p, .text, .displayTitle{
  font-family:'Passion One','cursivexs' ;
  color:CornflowerBlue ;
  fill:CornflowerBlue ;
  text-align: center;
  vertical-align:middle;
  font-size: 1.75em;
  font-weight: normal;
  margin: 5px 0px;
}

.LedText{
  font-family:'Passion One','cursivexs' ;
  color:CornflowerBlue ;
  fill:CornflowerBlue ;
  text-align: center;
  font-size: 1.75em;
  font-weight: normal;
  margin: 0;
}

.display {
  font-family: Display;
  fill:green;
  font-size: 1.25em;
  text-shadow: 0 0;
  text-align:'center';
}

.displayError {
  font-family: Display;
  fill:red;
  font-size: 1.25em;
  text-shadow: 0 0;
  text-align:'center';
}