@font-face {
font-family: Display;
src: url(./Fonts/LiquidCrystal-Normal.otf);
}
@font-face {
font-family: Display;
src: url(./Fonts/LiquidCrystal-Normal.otf);
}

.SubDive {
  background-color: darkgrey;
  height: 100%;
  width:100%;
  /* padding:0.5em; */
}

[class*="col-"] {
padding:5px !important;
}
[class*="col-"] .grid {
  padding:15px !important;
}
.grid{
  letter-spacing:0px !important;
  word-spacing:0px !important;
}
.col-auto {
  width:100%;
}
header {
  background-color: darkgrey;
  min-height: 2vmin;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 4vmin);
  color: white;
}


p, .title, .displayTitle{
/* font-family:'Passion One','cursivexs' ; */
font-family: 'Stardos Stencil', cursive;
color:CornflowerBlue ;
fill:CornflowerBlue ;
text-align: center;
vertical-align:middle;
font-size: 1.75em;
font-weight: normal;
margin: 5px 0px;
}

.text, .subtitel{
  font-family: 'Stardos Stencil', cursive;
color:CornflowerBlue ;
fill:CornflowerBlue ;
text-align: center;
vertical-align:middle;
font-size: 1.2em;
font-weight: normal;
margin: 5px 0px;
}

.subtitel{
  font-size: 1.5em;
}

.LedText{
font-family:'Passion One','cursivexs' ;
color:CornflowerBlue ;
fill:CornflowerBlue ;
text-align: center;
font-size: 1.75em;
font-weight: normal;
margin: 0;
}

.display {
font-family: Display;
fill:green;
font-size: 1.25em;
text-shadow: 0 0;
text-align:'center';
}

.displayError {
font-family: Display;
fill:red;
font-size: 1.25em;
text-shadow: 0 0;
text-align:'center';
}


.ControlPanel{
  background: lightgray; /* gainsboro */
  border: 3px solid darkgray;  
  border-radius:10px;
  /* box-shadow: 5px 10px; */
  margin-left: 5px;
  margin-bottom: 1em;

}

.InnerPanel{
  background: gainsboro; /* lightgray */
  border: 2px solid white;  
  border-radius:50px;
  /* box-shadow: 5px 10px; */
  /* margin: 1em; */
  width: 100%;
}

.PanelHeader{
text-shadow:2px 3px  whitesmoke;
color:black;
justify-content: center;
align-items: center;
text-align: center;
font-size:2em;
font-weight: 400;
font-family: 'Stardos Stencil', cursive;
padding: 0.5em;
}

.PanelContent{
padding:0.5em;
}

.screwLeft{
  display: flex !important;
 justify-content: flex-start;
}
.screwRight{
  display: flex !important;
 justify-content: flex-end;
}